<!--Modal-->
<div
  class="modal fade"
  id="requestModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <button
              type="button"
              class="modal__close"
              data-bs-dismiss="modal"
              aria-label="Close"
      >
        <svg class="modal__close-icon">
          <use xlink:href="#close">
          </use>
        </svg>
      </button>

      <div class="modal__title">Оставить заявку</div>
      <div class="modal__text">Заполните форму ниже и я свяжусь с вами</div>

      <form class="form" action="" method="post">
        <div class="form__group">
          <input class="input" type="text" placeholder="Ваше имя">
        </div>
        <div class="form__group">
          <input class="input" type="email" placeholder="Ваш e-mail">
        </div>
        <div class="form__group">
          <input class="input" type="tel" placeholder="Ваш телефон">
        </div>
        <button class="btn btn--primary" type="submit">Оставить заявку</button>
      </form>

    </div><!--modal-content-->
  </div><!--modal-dialog-->
</div><!--modal-->

